body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.85;
  color: rgb(56, 56, 56);
}

.pimg1, .pimg2, .pimg3, .pimg4, .pimg5 {
  position: relative;
  background-size: cover;
  
  background-attachment: fixed;
  min-height: 400px;
}

.pimg1 {
  background-image: url(img/hero.jpg);
  min-height: 100%;
}


.pimg2 {
  background-image: url(img/ibanez.png);

}


.pimg3{
  background-image: url(img/jackson.png);

}

.pimg4 {
  background-image: url(img/caparison.jpg);

}

.pimg5 {
  background-image: url(img/solar.png);
}

.section {
  background-color: rgb(56, 56, 56);
  color: rgb(217, 216, 213);
  padding: 10px 90px;
  text-align: center;
}
